<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.huzheyuan.scout">
    android:versionCode = "1"
    android:versionName = "1.0">
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.EntryActivity"
            android:label="@string/title_activity_entry"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Vex2016Activity"
            android:label="Scout"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bluetoothVEX.BlueToothSendingActivity"
            android:label="@string/title_activity_blue_tooth_sending"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.QRcodeActivity"
            android:label="@string/title_activity_qrcode"
            android:theme="@style/AppTheme.ActionBar.Transparent.NoActionBar" />
        <activity
            android:name=".activities.Frc2017Activity"
            android:label="@string/title_activity_frc2017"
            android:theme="@style/AppTheme.ActionBar.Transparent.NoActionBar"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>